* {
    padding: 0;
    margin: 0;
}

body {
    padding: 30px;
    font-family: 'Fira Sans', sans-serif;
}
.product .product_one img,
.product .product_two img,
.product .product_three img,
.product .product_four img,
.product .product_five img,
.product .product_six img,
.product .product_seven img,
.product .product_eight img,
.product .product_nine img {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.product {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
}
.product .product_one ,
.product .product_two ,
.product .product_three ,
.product .product_four ,
.product .product_five ,
.product .product_six ,
.product .product_seven ,
.product .product_eight ,
.product .product_nine {
    background-color: rgba(128, 128, 128, 0.082);
    border-radius: 20px;
    display: block;
    background-color: rgb(242, 241, 240);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin: 20px;
    text-align: center;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #4842A2;
    font-size: 4vw;
}

.product a {
    text-decoration: none;
    color: #4842A2;
    border: 2px #4842A2 solid;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.product a:hover {
   background-color: #4b459b;
   color: #fff;
}

@media screen and (max-width:1000px) and (min-width:600px){
    
    br {
        display: none;
    }
   .product {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    

   }
  
}

@media screen and (max-width:599px) {

   .product {
    display: block;
   }
}